__pycache__
other/__pycache__
music/__pycache__
telegram/__pycache__
music/classes/__pycache__
__pycache__/config.cpython-38.pyc
__pycache__/telegrambot.cpython-38.pyc
__pycache__/discordbot.cpython-38.pyc
